<div>
<div class="min-w-[1000px] max-w-[1500px] m-auto">
    <div class="flex bg-slate-950 text-white h-[60px]">
        <div class="flex items-center m-4">
           <img class="h-[35px] w-[100px] m-2" src="../../assets/PngItem_1065245.png">
           <div class="pr-4 pl-4">
            <div class="text-xs xl:text-sm">Deliver to</div>
            <div class="text-sm xl:text-base font-medium">India,chennai</div>
            </div>
        </div>
          <div class="flex grow relative items-center">
            <app-search-bar></app-search-bar>
        </div>

        <div class="flex items-center m-4">
            <div class="pr-4 pl-4">
              <button (click)="this.canShowVideo=true">  <div class="text-xs xl:text-sm">Hello, sign in</div></button>
                <div class="text-sm xl:text-base font-medium">Accoints & Lists</div>
            </div>
            <div class="pr-4 pl-4">
                <div class="text-xs xl:text-sm">Returns</div>
                <div class="text-sm xl:text-base font-medium">& Orders</div>
          </div>
            <div class="flex pr-3 pl-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-[30px]">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                  </svg>
        <div class="mt-7 text-xs xl:text-sm font-semibold"><a routerLink="/cart">Cart</a></div>
    </div>
 </div>
 </div>
 <div class="flex bg-slate-800 text-white space-x-7 text-lg xl:text-sm p-2 pl-6 font-medium">
    <div> Today's Deals</div>
    <div>Customer</div>
    <div>Today's Deals</div>
    <div>Today's Offers</div>
    <div>Customer service</div>
    <div>Amazon minTv</div>
    <div>sell</div>
 </div>
</div>
<app-pop-up (close)="this.canShowVideo=false" [show]="this.canShowVideo"></app-pop-up>
<router-outlet></router-outlet>

