<div  *ngIf="show" class=" bg-slate-900 absolute top-0 left-0 h-screen w-screen bg-opacity-70 ">
   {{item}}
    <svg (click)="this.onClose.emit()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class=" absolute w-10 h-10 top-5 right-5 text-white">
        <path strokeLinecap="round" strokeLinejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>

    <iframe class="m-auto mt-[10rem] bg-opacity-70 rounded-md  cursor-pointer" width="560" height="315" src="https://www.youtube.com/embed/Lki37cwlQvM?si=uZL8t4eMY8FK4vQk&amp;start=33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     
</div>
